<!DOCTYPE html>
<html lang="fa">
<head>
    <title>Suranus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Medical Learn Teach"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap-reboot.min.css">
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"><!--
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
    -->
    <!-- //bootstrap
    <link href="../public/stylesheets/dashboard.css" rel="stylesheet">-->
    <!-- Custom Theme files
    <link href="../public/stylesheets/style.css" rel='stylesheet' type='text/css' media="all" />-->
    <!--start-smooth-scrolling-->
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- //fonts -->
    <script src="../public/javascripts/upload_progressbar.js"></script>
</head>
<body>
    <!-- login modal-->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="login-form" class="needs-validation" action="/login" method="post" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username-login" class="col-form-label">Username :</label>
                            <input class="form-control" type="text" title="" id="username-login" required>
                        </div>
                        <div class="form-group">
                            <label for="password-login" class="col-form-label">Password :</label>
                            <input class="form-control" type="password" title="" id="password-login" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- signup modal-->
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="signup-form" class="needs-validation" action="/signup" method="post" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username-signup" class="col-form-label">Username :</label>
                            <input class="form-control" type="text" title="" id="username-signup" maxlength="15" required>
                            <small class="text-muted">
                                Should Only consist of A-Z a-z 0-9 _.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="email-signup" class="col-form-label">Email :</label>
                            <input class="form-control" type="email" title="" id="email-signup" maxlength="25" required>
                        </div>
                        <div class="form-group">
                            <label for="fName-signup" class="col-form-label">First Name :</label>
                            <input class="form-control" type="text" title="" id="fName-signup" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label for="lName-signup" class="col-form-label">Last Name :</label>
                            <input class="form-control" type="text" title="" id="lName-signup" maxlength="22" required>
                        </div>
                        <div class="form-group">
                            <label for="telNum-signup" class="col-form-label">Telephone :</label>
                            <input class="form-control" type="tel" title="" id="telNum-signup" minlength="7" maxlength="10" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$" required>
                        </div>
                        <div class="form-group">
                            <label for="alma-signup" class="col-form-label">Alma :</label>
                            <select class="custom-select" id="alma-signup" required>
                                <option selected disabled>-</option>
                                <option value="md">master</option>
                                <option value="phd">phd</option>
                                <option value="bch">bch</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password-signup" class="col-form-label">Password :</label>
                            <input class="form-control tooltip-custom" type="password" title="" id="password-signup" minlength="6" maxlength="20" required>
                            <small class="text-muted">
                                Must be 6-20 characters long.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="re-password-signup" class="col-form-label">Confirm Password :</label>
                            <input class="form-control" type="password" id="re-password-signup" data-parsley-equalto="#password-signup" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- logout modal-->
    <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form id="logout-form" action="/logout" method="post">
                    <input type="hidden" value="logout">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            </div>
        </div>
    </div>
    <!-- upload modal-->
    <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar -->
    <nav class="navbar sticky-top navbar-expand-xl navbar-dark ">
        <a class="navbar-brand" href="#"><img src="../public/images/logo-main-blue.gif"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsCollapsible" aria-controls="navbarsCollapsible" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsCollapsible">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form>
                        <input class="form-control" type="text" placeholder="Search">
                    </form>
                </li>
                <li class="nav-item active">
                    <button type="button" class="btn btn-primary" href="#">
                        Home <span class="sr-only">(current)</span>
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-primary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button type="button" class="dropdown-item btn btn-primary" href="/history">History</button>
                        <button type="button" class="dropdown-item btn btn-primary" data-toggle="modal" data-target="#login-modal">Sign In</button>
                        <button type="button" class="dropdown-item btn btn-primary" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
                        <div class="dropdown-divider"></div>
                        <button type="button" class="dropdown-item btn btn-primary" data-toggle="modal" data-target="#logout-modal">Log Out</button>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload-modal">
                        Upload
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">مقالات</button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" >-</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">دروس دانشگاهی</button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" >-</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">تخصص ها</button>
                    <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" >ارتوپدی</a>
                        <a class="dropdown-item" href="#" >مغز و اعصاب</a>
                        <a class="dropdown-item" href="#" >قلب و عروق</a>
                        <a class="dropdown-item" href="#" >اورولوژی</a>
                        <a class="dropdown-item" href="#" >آندوسکوپی</a>
                        <a class="dropdown-item" href="#" >زنان و زایمان</a>
                        <a class="dropdown-item" href="#" >دندان پزشکی</a>
                        <a class="dropdown-item" href="#" >زیبایی</a>
                        <a class="dropdown-item" href="#" >چشم</a>
                        <a class="dropdown-item" href="#" >جراحی داخلی</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">اخبار</button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" >-</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--main screen -->
    <div class="container-fluid" style="margin: 0">
        <div class="row">
            <div id="main-body" class="col-sm-12 main-body">
                <div class="main-grids">
                    <div class="welcome-grid" hidden>
                        <h1>Welcome placeholder</h1>
                    </div>
                    <div class="banner-grid container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <h1>Suranus</h1>
                                <p>Watch. Learn. Repeat.</p>
                            </div>
                            <div class="col-auto">
                                <img src="../public/images/menu-animated.gif" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="news-grid">
                        <h1>News</h1>
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid" src="../public/images/edgeOfTomorrow.jpg" alt="">
                            </div>
                            <div class="col-9">
                                <a href="#" class="news-title"><h3>برگزاری دوره های تخصصی لیزرهای پرتوان</h3></a>
                                <ul>
                                    <li>
                                        <a href="#" class="news-author"><p class="">John</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-grid">
                        <h1>Recent Videos</h1>
                        <div class="row">
                            <div class="col-4">
                                <div class="resent-grid-img recommended-grid-img">
                                    <a href="#">
                                        <img src="../public/images/edgeOfTomorrow.jpg" class="img-fluid rounded" alt="" />
                                    </a>
                                    <div class="clock">
                                        <p>3:04</p>
                                    </div>
                                    <div class="clock">
                                        <span class="fa fa-time" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="border border-secondary">
                                    <h3><a href="#" class="title title-info">....</a></h3>
                                    <ul>
                                        <li><p class="author author-info"><a href="#" class="author">John</a></p></li>
                                        <li class="right-list"><p class="views views-info">0 views</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/javascripts/parsley.min.js"></script>
    <script>
        $(function () {
            $("[class='form-control tooltip-custom']").tooltip();
        });
        $(".needs-validation").parsley({
            errorClass: 'has-danger',
            successClass: 'has-success',
            classHandler: function(ParsleyField) {
                return ParsleyField.$element.closest('.form-group');
            },
            errorsContainer: function(ParsleyField) {
                return ParsleyField.$element.closest('.form-group');
            },
            errorsWrapper: '<span class="form-text text-danger"></span>',
            errorTemplate: '<span></span>'
        }).on('form:validate', function() {
            $(".needs-validation").addClass('was-validated');
        }).on('form:submit', function() {
            return false; // Don't submit form for this demo
        });


        /*
        $(function () {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                const validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();*/
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>