.col-lg-3.col-md-4.col-sm-6.video-thumbnail(id= 'video-index-'+index)
    .card
        a(href='#')
            img.card-img-top.img-fluid(src= video.thumb style='height: auto; width: 100%;')
            .card-img-overlay
                .video-length
                    h5.fa.fa-clock-o.video-length(aria-hidden="true")= video.length
    .card-footer
        .row.justify-content-between
            .col-auto
                h5.video-title= video.title
                h6.fa.fa-user-md.video-doctor Doc
            .col-auto
                h5.video-views= video.views