.col-4.video-thumbnail
    .card
        img.card-img-top.img-fluid(src='images/edgeOfTomorrow.jpg' style='height: auto; width: 100%;')
        .card-img-overlay
            .video-length
                h5.fa.fa-clock-o(aria-hidden="true") 5:00
    .card-footer
        .row.justify-content-between
            .col-auto
                h5 title
            .col-auto
                h5 views