.col-4.video-thumbnail
    .card
        img.card-img-top.img-fluid(src= video.link style='height: auto; width: 100%;')
        .card-img-overlay
            .video-length
                h5.fa.fa-clock-o(aria-hidden="true")= video.length
    .card-footer
        .row.justify-content-between
            .col-auto
                h5= video.title
            .col-auto
                h5= video.views