::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}
a {
  color: #00B7FF;
}
nav {
    background-color: #508fdc;
}
.hidden {
    visibility: hidden; !important;
    display: none; !important;
}
/**
    modal elements
 */
input#file_upload {
    height: auto;
}
/**
    navbar stuff
 */
li.nav-item {
    padding-right: 1px;
    padding-left: 1px;
}
ul.navbar-nav {
    text-align: right;
}
.dropdown-menu {
    max-width: 60%;
    margin-left: auto;
}
/**
    video cards
 */
div.video-length {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
}
div.video-length h5 {
    color: white;
}
/**
    main grids
 */
div.main-body {
    background-color: #d9dcdc;
    padding: 0;
}
div.main-grids {
    padding: 0;
}
div.welcome-grid {
    padding: 1em;
    background-color: #abdde5;
}
div.banner-grid {
    padding: 1em;
    background-color: #2db696;
}
div.news-grid {
    padding: 1em;
    background-color: #9fcdff;
}
div.top-grid {
    padding: 1em;
    background-color: lightgray;
}
div.news-grid a.news-title {
    text-align: right;
    text-decoration: none;
}
div.news-grid a.news-author {
    text-align: right;
    text-decoration: none;
}
div.news-grid ul {
    list-style: none;
}
.clock {
    position: absolute;
    bottom: 40%;
    left: 5%;
    display: block;
    z-index: 9;
}
/**
    glyphicons
 */
h5.fa.fa-clock-o::before{
    padding-right: 3px;
}
.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-film{
    margin: 0 1em 0 0;
    font-size: 16px !important;
}
.fa-home {
    margin: 0 1em 0 0;
    font-size: 16px !important;
}
.fa-music {
    margin: 0 1em 0 0;
    font-size: 16px !important;
}
.news-icon span.fa-envelope{
    margin: 0 1em 0 0;
    font-size: 16px !important;
}
.fa-arrow-right{
    margin: 0 0 0 1em;
    font-size: 11px !important;
}
/**
    loading banner
 */
#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
    background: url("../images/loading.gif") no-repeat 50% 50%;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}
@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
/**
    video loader
 */
@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.lds-eclipse {
    position: relative;
}
.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 1.3s linear infinite;
    animation: lds-eclipse 1.3s linear infinite;
    width: 80px;
    height: 80px;
    top: 60px;
    left: 60px;
    border-radius: 50%;
    box-shadow: 0 6px 0 0 #1ba6e2;
    -webkit-transform-origin: 40px 43px;
    transform-origin: 40px 43px;
}
.lds-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}